fastapi
uvicorn[standard]
python-dotenv
pydantic
pydantic-settings
loguru
GitPython
python-multipart
sentence-transformers
faiss-cpu
numpy
SQLAlchemy
python-jose[cryptography]
email-validator
celery
redis
pytest
httpx
